@import url(./theme.css);

body {
  margin-top: 80px;
  margin-bottom: 1000px;
  padding: 0;
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

