@import url(./theme.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  /* background-color: hsl(0, 74%, 52%); */
  background-color: var(--background-color);
  
  /* background: rgba(224, 224, 224, 0.3); */
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 100%); */
  /* backdrop-filter: blur(10px); */
  z-index: 100;

  padding: 0 50px;
}

.left-side {
  font-family: League Spartan, Arial;
  font-size: 30px;
  color: var(--text-color);
}

.right-side {
  display: flex;

  font-size: 18px;
}

.right-side a {
  font-family: League Spartan, Arial;
  margin-left: 30px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  text-decoration: none;
  color: var(--text-color);
}

.right-side a:hover {
  border-bottom: 2px solid black;
}

.right-side a.active {
  border-bottom: 2px solid black;
}
